<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringIntroductionApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="app" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="de.doubleslash.spring.introduction.SpringIntroductionApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>